{% extends 'base.html.twig' %}

{% block title %}Ajouter une glace{% endblock %}

{% block body %}
    <h2>Ajouter une glace</h2>
    {{ form_start (glaceForm)}}
    <div class="form-group">
        {{ form_row(glaceForm.nom, {
            'label' : 'Nom de la glace',
            'label_attr' : {'class' : 'form-label'},
            'attr': { 'placeholder': 'Entrez le nom de votre glace', 'class': 'form-input'}
        }) }}
    </div>
    <div class="form-group">
        {{ form_row(glaceForm.ingredient_special, {
            'label' : 'Votre ingrédient spécial',
            'label_attr' : {'class' : 'form-label'},
            'attr': { 'placeholder': 'Ingrédient spécial', 'class': 'form-input'}
        }) }}
    </div>
    <div class="form-group">
        {{ form_row(glaceForm.cones, {
            'label' : 'Le type de cône de votre glace',
            'label_attr' : {'class' : 'form-label'},
            'attr': { 'class': 'form-input'}
        }) }}
    </div>
    <div class="form-group toppings">
        <label class="form-label">Toppings</label>
        <div class="checkbox-grid">
            {{ form_widget(glaceForm.topping) }}
        </div>
    </div>
    <button>Ajouter une glace</button>
    {{ form_end (glaceForm)}}
{% endblock %}

